::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($sub-colors, white-10);
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map-get($sub-colors, white-30);
}
// ::-moz-selection {
//   background: map-get($theme-colors, darken);
//   color: $white;
// }
//
// ::selection {
//   background: map-get($theme-colors, darken);
//   color: $white;
// }

html {
  height: 100%;
}

body {
  height: 100%;
  @include linear-normal-dark;
}

.portlet {
  border-radius: $basic-radius;
  float: left;
  width: 100%;
  margin: 0.5em 0;
  padding: 1em;
  @include radial-lighten-light;
  @include shadow-dp-2;
  @include flex;
  @include justify-content(space-between);
  // overflow: auto;
  z-index: 100;
  min-width: 3em;
  flex: 1;

  &.-opt {
    cursor: pointer;
    flex: 0;
    min-width: 56px;
    margin-left: 8px;

    .table-opt {
      @include transition (3000ms);
      height: 24px;

      &:hover {
        @include rotate (360deg);
        @include shadow-dp-12;
      }
    }
  }

  &.flexible-height {
    max-height: calc(100vh - 204px);
    overflow: hidden;
  }
  // minion cards
  .col-3 {
    padding: 0;
    max-width: 100%;
    flex: 0 0 100%;
    -ms-flex: 0 0 25%;

    .portlet {
      background: map-get($theme-colors, normal);
    }

    .cell-block {
      width: 100%;
    }
  }
}

.portlet-block {
  @include flex;
  border-right: 1px solid map-get($sub-colors, white-10);
  padding: 0;
  @include align-items(center);

  .form-group {
    margin: 0;
  }

  &:last-child {
    margin-right: 0;
    border: none;
  }
}

.portlet-content {
  width: 100%;
  float: left;
  @include align-items(center);
  @include clearfix;
  // skill panel height temp
  &.ww {
    height: 295px;
  }

  .form-group {
    float: left;
  }
}
// hero thumbnail

.hero-icon {
  float: left;

  img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  // hero rarity color
  &.border-rarity {
    border-width: 3px;
    border-style: solid;
    border-radius: 24px;
  }
}

.hero-name {
  float: left;
  padding: 8px 0;
  // hero name
  .subtitle {
    display: block;
  }
  // hero title
  .overline {
    display: block;
    color: map-get($sub-colors, white-54);
  }
}

.class-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
}
// hero level

.hero-lvl {
  span {
    margin-left: 0.25em;
    color: $blue;
  }
}
// hero stat line

.cell-block {
  float: left;
  padding: 4px 0;
  border-bottom: 1px solid map-get($sub-colors, white-10);
  width: calc(100% - 72px);

  &:last-child {
    border-bottom: none;
  }

  li {
    width: 100%;
    float: left;
    padding: 2px 0;

    &:hover {
      background: map-get($sub-colors, white-10);
    }
  }
}

.cell-cap,
.cell-data {
  @extend %overline;
}

.cell-cap {
  color: map-get($sub-colors, white-80);
  float: left;
}

.cell-data {
  color: $blue;
  float: right;
}
// item slots

.gear {
  position: absolute;
  top: 112px;
  right: 24px;
}
