::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($sub-colors, white-10);
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map-get($sub-colors, white-30);
}

// ::-moz-selection {
//   background: map-get($theme-colors, darken);
//   color: $white;
// }
//
// ::selection {
//   background: map-get($theme-colors, darken);
//   color: $white;
// }

html {
  height: 100%;
}

body {
  height: 100%;
  @include linear-normal-dark;
}

.portlet {
  border-radius: $basic-radius;
  float: left;
  width: 100%;
  margin: 0.5em 0;
  padding: 1em;
  @include radial-lighten-light;
  @include shadow-dp-2;
  @include flex;
  @include justify-content(space-between);
  overflow: auto;
  z-index: 100;
  min-width: 3em;
  flex: 1;

  &.-opt {
    cursor: pointer;
    flex: 0;
    min-width: 56px;
    margin-left: 8px;

    .table-opt {
      @include transition (3000ms);

      &:hover {
        @include rotate (360deg);
        @include shadow-dp-12;
      }
    }
  }
}

.headline {
  width: 100px;
}
