body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: $font-weight-regular;
  color: $white;
}
// .heading1,
// h1 {
//   font-size: 3rem;
//   font-weight: $font-weight-regular;
// }
//
// .heading2,
// h2 {
//   font-size: 2.25rem;
//   font-weight: $font-weight-regular;
// }
//
// .heading3,
// h3 {
//   font-size: 1.5rem;
//   font-weight: $font-weight-bold;
// }
//
%subtitle,
.subtitle {
  font-size: 1rem;
  font-weight: $font-weight-regular;
  margin: 0;

  & b,
  & strong,
  &.bold {
    font-weight: $font-weight-bold;
  }
}

.body {
  font-size: .875rem;
  font-weight: $font-weight-regular;
  line-height: 1.5;

  & b,
  & strong,
  &.bold {
    font-weight: $font-weight-bold;
  }
}

.btn, %btn,
.button {
  font-size: .875rem;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: .15em;
}
%caption,
.caption {
  font-size: .75rem;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}

%overline,
.overline {
  font-size: .6875rem;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  letter-spacing: .05em;

  &.bold {
    font-weight: $font-weight-medium;
  }
}

%overline-bold {
  @extend %overline;
  font-weight: $font-weight-medium;
}
// font color css // compile .text-white
// @each $get-color, $value in $colors {
//   .text-#{$get-color} {
//     color: $value !important;
//   }
// }
// @each $get-color, $value in $sub-colors {
//   .text-#{$get-color} {
//     color: $value !important;
//   }
// }
