// Variables

// ColorMap
// Variables
//
// color Maps
$theme-colors:(
  darken:  hsla(235, 39, 20, 1),
  dark:    hsla(235, 37, 22, 1),
  normal:  hsla(236, 36, 24, 1),
  light:   hsla(238, 34, 28, 1),
  lighten: hsla(234, 31, 33, 1)
);


$white:   hsla(201, 69, 90, 1);
$blue:    hsla(218, 90, 72, 1);
$sky:     hsla(198, 74, 71, 1);
$cyan:    hsla(181, 91, 45, 1);
$mint:    hsla(165, 71, 70, 1);
$green:   hsla(120, 48, 63, 1);
$lime:    hsla(94, 80, 80, 1);
$yellow:  hsla(35, 86, 80, 1);
$orange:  hsla(15, 68, 65, 1);
$red:     hsla(339, 78, 71, 1);
$purple:  hsla(307, 70, 53, 1);
$violet:  hsla(277, 100, 74, 1);

// --rarity
$common: $white;
$rare: $blue;
$epic: $violet;
$leg: $yellow;
$set: $green;

// --element
$fire: $red;
$water: $sky;
$nature: $lime;
$light: $yellow;
$dark: $violet;

$ele-colors: (
  Fire: $red,
  Water: $sky,
  Nature: $lime,
  Light: $yellow,
  Dark: $violet
);

$sub-colors: (
  white-80:   transparentize($white, .2),
  white-54:   transparentize($white, .46),
  white-30:   transparentize($white, .7),
  white-10:   transparentize($white, .9),
  blue-80: transparentize($blue, .2),
  blue-54: transparentize($blue, .46),
  blue-30: transparentize($blue, .7),
  blue-10: transparentize($blue, .9),
  sky-80:  transparentize($sky, .2),
  sky-54:  transparentize($sky, .46),
  sky-30:  transparentize($sky, .7),
  sky-10:  transparentize($sky, .9),
  cyan-80:  transparentize($cyan, .2),
  cyan-54:  transparentize($cyan, .46),
  cyan-30:  transparentize($cyan, .7),
  cyan-10:  transparentize($cyan, .9),
  mint-80:    transparentize($mint, .2),
  mint-54:    transparentize($mint, .46),
  mint-30:    transparentize($mint, .7),
  mint-10:    transparentize($mint, .9),
  lime-80:    transparentize($lime, .2),
  lime-54:    transparentize($lime, .46),
  lime-30:    transparentize($lime, .7),
  lime-10:    transparentize($lime, .9),
  yellow-80:  transparentize($yellow, .2),
  yellow-54:  transparentize($yellow, .46),
  yellow-30:  transparentize($yellow, .7),
  yellow-10:  transparentize($yellow, .9),
  orange-80:  transparentize($orange, .2),
  orange-54:  transparentize($orange, .46),
  orange-30:  transparentize($orange, .7),
  orange-10:  transparentize($orange, .9),
  rose-80:    transparentize($red, .2),
  rose-54:    transparentize($red, .46),
  rose-30:    transparentize($red, .7),
  rose-10:    transparentize($red, .9),
  thulian-80: transparentize($purple, .2),
  thulian-54: transparentize($purple, .46),
  thulian-30: transparentize($purple, .7),
  thulian-10: transparentize($purple, .9),
  floral-80:  transparentize($violet, .2),
  floral-54:  transparentize($violet, .46),
  floral-30:  transparentize($violet, .7),
  floral-10:  transparentize($violet, .9)
);

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;

// Basic System
$basic-radius: 16px;

// Grid System
$grid-columns: 12; // ~ 24 column grid
$grid-column-width: 92px;
$grid-column-width-percentage: 100% / $grid-columns;
$grid-gutter: 8px !default;

// Animation
$CubicBezier: cubic-bezier(0,.81,.63,1);
